
body {
    background:#f4dbd6;
    color:#f0c6c6;
}

input {
    background:#f5bde6;
    color:black;
}

#gun input{
    background-color:red;
}

#cat {
    height:12em;
    width:10em;
    padding:6px;
    }
