<!DOCTYPE html>
<html>
    <head>
        <title>Insira os dados</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='estilo.css')}}">

    </head>
    <body>

        <h1 id="boss">Digite um nome de Pokemon</h1>
        <p><img src="https://data.whicdn.com/images/218337085/original.gif" height="47" width="32"  alt="ducklick"></p>


        <p><form method="POST">
            <div><label><input type="text" class="caixa" name="nome"></div></label></p>
        <img src="https://data.whicdn.com/images/257486981/original.gif" id="cat" alt="ducklick">
        
        <div id="gun"> 
        <p><input type="radio" class="monster" name="mw" value="https://i.gifer.com/5GpG.gif" checked>
        <img src="https://i.gifer.com/5GpG.gif" width="25" height="25"></p>

        <p><input type="radio" name="mw" value="https://i.gifer.com/4bXB.gif">
        <img src="https://i.gifer.com/4bXB.gif" width="25" height="25" value="https://i.gifer.com/4bXB.gif"></p>

        <p><input type="radio" name="mw" value="https://i.gifer.com/1aG7.gif">
        <img src="https://i.gifer.com/1aG7.gif" width="25" height="25"></p>

        <p><input type="radio" name="mw" value="https://i.gifer.com/YlVy.gif">
        <img src="https://i.gifer.com/YlVy.gif" width="25" height="25"></p>
        </div>
        <p><input type="submit"></form></p>

        <p>meu primeiro css</p>

    </body>
</html>
